{% extends 'layouts/default/master_layout.html' %}
{% load i18n %}
{% block content %}

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Business Name</th>
                            <th>Discount Description</th>
                            <th>Start Date</th>
                            <th>Recurring End-Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listing in business_listing.Result %}
                            <tr>
                                <td>{{ listing.title }}</td>
                                <td>{{ listing.businessName }}</td>
                                <td>{{ listing.discountDescription }}</td>
                                <td>{{ listing.startDate }}</td>
                                <td>{{ listing.recurringEndDate }}</td>
                                <td>{{ listing.startTime }}</td>
                                <td>{{ listing.endTime }}</td>
                                <td><img src="{{ listing.imageLink }}" class="img-fluid img-thumbnail"/></td>
                                <td>
                                    <a href="{% url 'listing_edit' listing.listingId %}" class="btn btn-primary btn-circle btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button onclick="modalData({{ listing.listingId }})"
                                            id="delete-{{ listing.listingId }}"
                                            class="delete-business btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Business Listing</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete this business listing ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="#" class="del-final btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        token = '{{csrf_token}}';
        function deleteListing(listingId){
            console.log(listingId);
            $.ajax ({
                headers: { "X-CSRFToken": token },
                type:"POST",
                url: 'listing/delete/' + listingId,
                success: function (data) {
                    let table = $('#dataTable').DataTable();
                    table.row($('#delete-'+listingId).closest('tr')).remove().draw();
                    $("#deleteModal .close").click();
                }
            });
        }
        function modalData(listingId) {
            let modalHtml = '<button type="button" class="btn btn-secondary"' +
                ' data-dismiss="modal">Close</button> <button onclick="deleteListing(' + listingId +')"' +
                ' class="del-final btn btn-danger"><i class="fas fa-trash"></i></button>';
            $('.modal-footer').html(modalHtml);
            $('#deleteModal').modal();
        }
        $(document).ready(function(){


        });
    </script>

{% endblock %}