{% extends 'layouts/default/master_layout.html' %}
{% load i18n %}
{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Business</h6>
            <a href="listing/add" class="mt-2 btn btn-primary btn-icon-split btn-sm">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text">Add New Listing</span>
            </a>
        </div>
        <div class="card-body">
            <label>Select business</label>
            <select name="businessId" id="businessList" class="form-control">
                <option class="disabled" value="">Choose a business</option>
                {% for business in business_list %}
                <option value="{{ business.businessId }}">{{ business.name }}</option>
                {% endfor %}
            </select><br>
            <div class="table-responsive">

            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Business Listing</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete this business listing ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="#" class="del-final btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var token = '{{csrf_token}}';
        function deleteListing(element, listingId){
            console.log(element);
            console.log(listingId);
            $.ajax ({
                headers: { "X-CSRFToken": token },
                type:"POST",
                url: 'listing/delete/' + listingId,
                success: function (data) {
                    var table = $('#dataTable').DataTable();
                    table.row(element.closest('tr')).remove().draw();
                }
            });
        }
        function modalData(element, listingId) {
            debugger;
            var currentRow = {'element': element};
            modalHtml = '<button type="button" class="btn btn-secondary"' +
                ' data-dismiss="modal">Close</button> <a onclick="deleteListing(' + currentRow + ',' + listingId +')"' +
                ' class="del-final btn btn-danger"><i class="fas fa-trash"></i></a>';
            $('.modal-footer').html(modalHtml);
            $('#deleteModal').modal();
        }
        $(document).ready(function(){

            $("#businessList").change(function() {
                console.log(this.value);
                if (this.value) {
                    $.ajax ({
                        type:"GET",
                        url: 'listing/all',
                        data: {'business_id': this.value},
                        success: function (data) {
                            console.log(data)
                            businessListing = data.business_listing.Result
                            tableData = '<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">' +
                                '<thead> <tr> <th>Title</th> <th>Business Name</th> <th>Discount Description</th>' +
                                '<th>Start Date</th> <th>Recurring End-Date</th> <th>Start Time</th> <th>End Time</th>' +
                                '<th>Image</th> <th>Action</th> </tr> </thead> <tbody>';
                            for (i=0; i<businessListing.length; i++) {
                                tableData += '<tr> <td>' + businessListing[i]["title"] + '</td>' +
                                    '<td>' + businessListing[i]["businessName"] + '</td>' +
                                    '<td>' + businessListing[i]["discountDescription"] + '</td>' +
                                    '<td>' + businessListing[i]["startDate"] + '</td>' +
                                    '<td>' + businessListing[i]["recurringEndDate"] + '</td>' +
                                    '<td>' + businessListing[i]["startTime"] + '</td>' +
                                    '<td>' + businessListing[i]["endTime"] + '</td>' +
                                    '<td><img src=' + businessListing[i]["imageLink"] +
                                    ' class="img-fluid img-thumbnail"></img></td>' +
                                    '<td> <a href="listing/edit/' + businessListing[i]["listingId"] +
                                    '" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-edit">' +
                                    '</i></a> <a onclick="modalData(this, ' +
                                    businessListing[i]["listingId"] + ')"' +
                                    ' class="delete-business btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a></td></tr>'
                            }
                            tableData += '</tbody> </table>';
                            $('.table-responsive').html(tableData);
                            var table = $('#dataTable').dataTable({
                                            "bPaginate": true,
                                            "bJQueryUI": true,
                                            "bLengthChange": true,
                                            "bFilter": true,
                                            "bSort": true,
                                            "bInfo": true,
                                            "bAutoWidth": true,
                                            "bProcessing": true,
                                            "iDisplayLength": 10,
                                            });
                        }
                        });
                }
            });
        });
    </script>

{% endblock %}